{% extends "main.html" %}

{% block content %}
        <div class="card">
            <div class="container-card">
                <span style="font-size: x-large">{{ word }}</span>
            </div>
        </div>

    <div style="margin-top: 20px">
        <h3>Runde: {{ round }}</h3>
        <form role="form" method='POST' action='/{{ plid }}'>
            <div class="form-group">
                <label for="gameid">Game ID</label>
                <input type="number" name="gameid" class="form-control form-control-lg" value={{ gameid }} id="gameid"
                       placeholder="Game ID" min="1" style="max-width: 100px;" autofocus required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Zeige Wort</button>
        </form>
    </div>
{% endblock %}